<!-- <div class="login-form">
  <form action="/login" method="post">
    <div class="form-control">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        id="username"
        placeholder="Enter your name"
      />
    </div>
    <div class="form-control">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Enter your password"
      />
    </div>
    <div class="form-control">
      <button type="submit" class="btn">Login</button>
    </div>
  </form>
</div> -->

<div class="searchAnime">
  <form action="/animeSearch" method="post">
    <div class="form-control">
      <label for="animeTitle">Anime Title</label>
      <input
        type="text"
        name="animeTitle"
        id="title"
        placeholder="Enter anime title..."
      />
    </div>

    <div class="form-control">
      <label for="episodeNumber">Episode Number</label>
      <input
        type="number"
        name="episodeNumber"
        id="animeTitle"
        placeholder="Episode..."
      />
    </div>
    <div class="form-control">
      <button type="submit" class="btn">Search</button>
    </div>
  </form>
</div>
